.App{
    display: flex;
    justify-content: space-around;
    background-image: url("./123.jpg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}